# qcodec

{% include '_tmpl/_inc/badges.md' %}

qcodec encodes and decodes a primitive type or struct type with a predefined codec engine.
It is simple thus very fast.


<!-- START doctoc generated TOC please keep comment here to allow auto update -->
<!-- DON'T EDIT THIS SECTION, INSTEAD RE-RUN doctoc TO UPDATE -->

- xx

<!-- END doctoc generated TOC please keep comment here to allow auto update -->

{% include '_tmpl/_inc/install.md' %}

# Synopsis

## Build a SlimArray

```go
{% include 'example_test.go' %}
```
